body {
    background-color: #5BA199;
    margin-top: 10vh;
    max-width: 400px;
    margin: auto;
}

header {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: #E5E3E4;
}

.board {
    box-sizing: border-box;
    width: 400px;
    height: 400px;        
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    background-color: #469597;
    border: 16px solid #469597;
    border-radius: 16px;
}

.board__tile {
    background-color: #DDBEAA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #469597;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

#player-creation {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

#player-creation input[type="text"] {
    border: 5px solid #469597;
    padding: 8px;
    background-color: #469597;
    border-radius: 8px;
    color: #DDBEAA;
}

#player-creation input[type="text"]:focus {
    border: 5px solid #469597;
    outline: none;
}

#player-creation input[type="text"]::placeholder {
    color: #DDBEAA;
}




@media only screen and (max-width: 300px) {
    header {
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3rem;
        color: #E5E3E4;
    }

}